* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
}

/* header */

.navbar {
  display: flex;
  background-color: rgb(67, 105, 230);
  top: 0;
  align-items: center;
  height: 50px;
}

#logo {
  color: white;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

/* body */
.body-container {
  margin: 10px 20px;
}


/* search */

.search-div {
  height: fit-content;
  margin: 20px 0;
  padding-left: 20px;
  border-radius: 10px;
  border: 1px solid rgb(233, 233, 233);
}
#search-title {
  padding-top: 10px;
}
#placeholder {
  color: rgb(155, 151, 151);
  font-size: larger;
  margin-top: 5px;
}
#name-input {
  width: 90%;
  height: 32px;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 1px solid rgb(233, 233, 233);
}

/* profile */

.content-div {
  margin: 20px 0;
  display: flex;
  height: 300px;
  padding: 20px 20px;
  border-radius: 10px;
  border: 1px solid rgb(233, 233, 233);
}
.profile-div {
  width: 300px;
  height: 100%;
}

#user_avatar {
  width: 100%;
  height: 85%;
}

#viewProfileBtn {
  margin-top: 5px;
  color: white;
  border-radius: 12px;
  border-color: rgb(19, 130, 235);
  width: 100%;
  height: 10%;
  background-color: rgb(19, 130, 235);
}
#viewProfileBtn:hover {
  cursor: pointer;
  background-color: rgb(142, 189, 233);
}

.user-div {
  width: 70%;
  margin-left: 30px;
}

.github-active-list {
  display: flex;
}

/* badgeText */

.badge {
  color: white;
  padding: 4px 20px;
  border-radius: 5px;
  margin-left: 5px;
}
.text-bg-primary {
  background-color: rgb(19, 130, 235);
}
.text-bg-secondary {
  background-color: rgb(149, 151, 153);
}
.text-bg-third {
  background-color: rgb(64, 233, 92);
}
.text-bg-fourth {
  background-color: rgb(47, 190, 183);
}
.user-info-list {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
}
.list-group-item {
  border: 1px solid #ddd;
  margin-top: -1px;
  padding: 12px;
}

/* <!-- Latest Repos--> */
.repos-list {
  margin-top: 20px;
}
.repos-div {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(233, 233, 233);
  margin-bottom: 10px;
}
.repos-info {
  display: flex;
  width: fit-content;
  margin-right: 100px;
}
#repos-name {
  display: flex;
  width: 50%;
  align-items: center;
  height: 100%;
  color: rgb(3, 98, 177);
  margin-left: 20px;
  text-decoration-line: none;
}
#repos-name:hover {
  color: rgb(80, 138, 185);
}

#repos-title {
  padding-bottom: 20px;
}


/* footer */
.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid white;
  justify-content: center;
  align-items: center;
}


/* etc */
.hide {
  display: none;
}
